<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    #app {
      background: linear-gradient(270deg, #ff00f5, #ff00a7);
      background-size: 400% 400%;

      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite;
    }

    @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }

    textarea::placeholder {
      color: #fff;
    }

    .custom-loader {
      animation: loader 1s infinite;
      display: flex;
    }
    @-moz-keyframes loader {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
    @-webkit-keyframes loader {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
    @-o-keyframes loader {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
    @keyframes loader {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  </style>
</head>
<body>
  <div id="app" >
    <v-app>
      <v-container fill-height>
        <v-layout row wrap align-center><!--xs12 sm6 offset-sm3-->
          <v-fade-transition>
            <v-flex v-show="front_page_shown" xs12 class="text-xs-center" style="height: 70%">
              <p class="text-md-center white--text display-1"><small>(　 ゜Д゜)⊃旦</small>  <b>feedmewords.fun</b>  <small>~~旦_(^O^ )</small></p>
              <p class="text-md-center white--text headline">teach ai to write stuff</p>
              <v-card style="position: relative; height: 80%; border-radius: 5px; background-color:rgba(255, 255, 255, 0.3);">
                <textarea v-model="text"
                  style="border: none; overflow: auto; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
                    color: #ffffff; resize: none; padding: 25px; width:100%; height:100%; box-sizing: border-box; -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;"
                  placeholder="paste some stuff here for the me to learn ~"
                ></textarea>
                <div style="position: absolute; bottom: 0; padding-left: 25px; padding-right: 25px;">
                  <span style="color: #ffffff">...or test with stuff I've already learnt</span>
                  <v-btn @click="clicked_pretrained('sienfeld')" dark flat style="text-transform: lowercase; background-color:rgba(255, 255, 255, 0.2); border-radius: 5px;">seinfeld scripts</v-btn>
                  <v-btn @click="clicked_pretrained('sienfeld')" dark flat style="text-transform: lowercase; background-color:rgba(255, 255, 255, 0.2); border-radius: 5px;">lil pump lyrics</v-btn>
                  <v-btn @click="clicked_pretrained('sienfeld')" dark flat style="text-transform: lowercase; background-color:rgba(255, 255, 255, 0.2); border-radius: 5px;">star wars prequels</v-btn>
                </div>
              </v-card>
            </v-flex>
          </v-fade-transition>
          <v-slide-x-reverse-transition>
            <v-flex v-show="main_page_shown" xs12 sm6 pr-1 class="text-xs-center" style="height: 100%">
              <v-card style="position: relative; height: 100%; border-radius: 5px; background-color:rgba(255, 255, 255, 0.3);">
                <textarea v-model="text" :disabled="show_batch_progress"
                  style="border: none; overflow: auto; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
                    color: #ffffff; resize: none; padding: 25px; width:100%; height:100%; box-sizing: border-box; -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;"
                  placeholder="paste some stuff here for the me to learn ~"
                ></textarea>
              </v-card>
            </v-flex>
          </v-slide-x-reverse-transition>
          <v-slide-x-transition>
            <v-flex v-show="main_page_shown" xs12 sm6 pl-1 class="text-xs-center" style="height: 100%">
              <v-card style="position: relative; height: 100%; border-radius: 5px;">
                <v-fade-transition>
                  <div fill-height v-show="show_batch_progress" style="height: 100%; display: flex; flex-direction: column;">
                    <v-progress-linear
                      class="mt-0 mb-0"
                      v-model="batch_progress">
                    </v-progress-linear>

                    <div v-show="!start_training" align-center class="pa-3">
                      <v-btn @click="train_model()" style="background-color: #FF00EA" fab depressed large dark>
                        <v-icon>play_arrow</v-icon>
                      </v-btn>
                      <p class="headline mb-1">start learning</p>
                      <p>hey, don't be alarmed but this tab will probably <i>freeze up</i> a bit while the AI learns.</p>
                      <p>by default it will run 10 iterations. depending on the size of your input text and your computer speed this could take anywhere from <i>5 minutes</i> to <i>several hours</i></p>
                      <p>if it's taking too long just close this tab and come back to edit the settings below</p>
                      <v-expansion-panel popout>
                        <v-expansion-panel-content style="border-radius: 5px;">
                          <div slot="header">advanced settings</div>
                          <v-card class="pa-2 mt-3">
                            <v-slider
                              thumb-label="always"
                              v-model="iterations_length"
                              label="iterations"
                            ></v-slider>
                            <v-switch class="ma-0"
                              label="show log"
                              v-model="show_log"
                              color="info"
                            ></v-switch>
                          </v-card>
                        </v-expansion-panel-content>
                      </v-expansion-panel>
                    </div>
                    <div class="pa-3">
                      <v-btn
                        v-show="start_training && !finished_training"
                        loading
                        color="black"
                        flat
                        @click.native="loader = 'loading4'"
                      >
                        <span slot="loader" class="custom-loader">
                          <v-icon color="black">cached</v-icon>
                        </span>
                      </v-btn>
                      <p v-show="start_training" v-html="status"></p>
                      <p v-if="(status_last_predicted_sentence != '') && (show_log == false)"><b>example from most recent iteration:</b> {{status_last_predicted_sentence}}</p>
                    </div>
                    <textarea v-show="start_training && show_log" disabled id="output_log"
                      style="border: none; overflow: auto; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
                        color: #ffffff; background-color: #000000; resize: none; padding: 25px; width:100%; height:100%; box-sizing: border-box; -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;"
                      v-model="output_log"
                    ></textarea>
                  </div>
                </v-fade-transition>
                <v-fade-transition>
                  <v-btn
                    v-show="model == null"
                    depressed
                    block
                    :loading="loading_train"
                    :disabled="loading_train"
                    color="light-blue"
                    class="mt-0 mb-0 white--text"
                    style="border-radius: 5px 5px 0px 0px; text-transform: lowercase;"
                    @click.native="loading_train = true"
                  >
                    ok, ready
                    <span slot="loader" class="custom-loader">
                      <v-icon light>cached</v-icon>
                    </span>
                  </v-btn>
                </v-fade-transition>
              </v-card>
            </v-flex>
          </v-slide-x-transition>
        </v-layout>
      </v-container>
    </v-app>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.12.5"> </script>
  <script src="https://cdn.jsdelivr.net/gh/nicolaspanel/numjs@0.15.1/dist/numjs.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        front_page_shown: true,
        main_page_shown: false,
        loading_train: false,
        text: null,
        model: null,
        batch_progress: 0,
        maxlen: 30,
        step: 3,
        iterations_length: 10,
        start_learning: false,
        show_batch_progress: false,
        word_indices: null,
        indices_word: null,
        X: null,
        y: null,
        list_words: null,
        start_training: false,
        finished_training: false,
        output_log: null,
        show_log: false,
        status: '',
        status_last_predicted_sentence: ''
      },
      methods: {
        clicked_pretrained: async function(id) {
          console.log("clicked " + id)
          this.front_page_shown = false
          await this.delay(300);
          this.main_page_shown = true
        },
        delay: function(ms) {
          return new Promise(resolve => {
            setTimeout(resolve, ms);
          });
        },
        onlyUnique: function(value, index, self) {
          return self.indexOf(value) === index;
        },
        indexOfMax: function(arr) {
            if (arr.length === 0) {
                return -1;
            }
            var max = arr[0];
            var maxIndex = 0;
            for (var i = 1; i < arr.length; i++) {
                if (arr[i] > max) {
                    maxIndex = i;
                    max = arr[i];
                }
            }
            return maxIndex;
        },
        sample: function(preds, temperature) {
          preds = nj.array(preds, 'float64');
          preds = nj.log(preds).divide(temperature)
          exp_preds = nj.exp(preds)
          preds = exp_preds.divide(nj.sum(exp_preds))
          arr = preds.tolist()
          return this.indexOfMax(arr)
        },
        create_model: function() {
          console.log('corpus length:', this.text.length)
          this.words = this.text.split(" ")
          console.log("init " + this.words)
          this.words = this.words.filter(this.onlyUnique)
          console.log("unique" + this.words)
          this.words = this.words.sort()
          console.log("sorted" + this.words)

          console.log("total number of unique words" + this.words.length)

          this.word_indices = {}
          this.indices_word = {}
          for (let e0 of this.words.entries()) {
            var idx = e0[0]
            var word = e0[1]
            this.word_indices[word] = idx
            this.indices_word[idx] = word
          }
          console.log("WORD_INDICES" + JSON.stringify(this.word_indices))
          console.log("INDICES_WORD" + JSON.stringify(this.indices_word))

          console.log("word_indices length:" + this.word_indices.length)
          console.log("indices_words length" + this.indices_word.length)

          console.log("maxlen: " + this.maxlen, " step: " + this.step)

          var sentences = []
          var sentences1 = []

          var next_words = []
          this.list_words = this.text.toLowerCase().split(" ")

          for (var i = 0; i < (this.list_words.length - this.maxlen); i += this.step) {
            var sentences2 = this.list_words.slice(i, i + this.maxlen + 1).join(" ") //TODO added + 1, mutually inclusive?
            sentences.push(sentences2)
            next_words.push(this.list_words[i + this.maxlen])
          }
          console.log('nb sequences(length of sentences):', sentences.length)
          console.log("length of next_word", next_words.length)

          console.log('Vectorization...')
          this.X = nj.zeros([sentences.length, this.maxlen, this.words.length])
          console.log('X shape' + this.X.shape)
          this.y = nj.zeros([sentences.length, this.words.length])
          console.log('y shape' + this.y.shape)
          for (e of sentences.entries()) {
            var i = e[0]
            var sentence = e[1]
            for (e2 of sentence.split(" ").entries()) {
              var t = e2[0]
              var word = e2[1]
              this.X.set(i, t, this.word_indices[word], 1)
            }
            this.y.set(i, this.word_indices[next_words[i]], 1)
          }
          //console.log(JSON.stringify(this.X))
          //console.log(JSON.stringify(this.y))

          console.log('Creating model... Please wait.');

          this.model = tf.sequential();
          this.model.add(tf.layers.lstm({
            units: 128,
            returnSequences: true,
            inputShape: [this.maxlen, this.words.length]
          }));
          this.model.add(tf.layers.dropout(0.2))
          this.model.add(tf.layers.lstm({
            units: 128,
            returnSequences: false
          }));
          this.model.add(tf.layers.dropout(0.2))
          this.model.add(tf.layers.dense({units: this.words.length, activation: 'softmax'}));

          this.model.compile({loss: 'categoricalCrossentropy', optimizer: 'sgd'});
          this.start_learning = true
          //this.loading_train = false
        },
        train_model: async function() {
          var textarea = document.getElementById('output_log');
          this.start_training = true
          this.output_log = "training for " + this.iterations_length + " iterations\n"
          await this.delay(1000);
          for (var iteration = 1; iteration < this.iterations_length; iteration++) {
            console.log('Iteration', iteration)
            var vm = this
            var batch_count = 0
            await this.model.fit(tf.tensor3d(this.X.tolist()), tf.tensor2d(this.y.tolist()), {
              epochs: 1,
              batchSize: 128,
              callbacks: {
                onTrainBegin: async () => {
                  vm.status = "<b>iteration " + iteration + "</b> starting..."
                  await this.delay(300);
                  console.log("onTrainBegin")
                },
                onTrainEnd: async (epoch, logs) => {
                  console.log("onTrainEnd" + epoch + JSON.stringify(logs))
                },
                onEpochBegin: async (epoch, logs) => {
                  this.output_log += "iteration " + iteration + " \n-----------------\nstarting...\n"
                  console.log("onEpochBegin" + epoch + JSON.stringify(logs))
                },
                onEpochEnd: async (epoch, logs) => {
                  vm.status = "<i> finished iteration " + iteration + "</i>"
                  await this.delay(600);
                  this.output_log += "finished... (loss " + logs.loss + ")\n"
                  console.log("onEpochEnd" + epoch + JSON.stringify(logs))
                },
                onBatchBegin: async (epoch, logs) => {
                  vm.status = "<b>iteration " + iteration + ":</b> starting batch " + ++batch_count
                  await this.delay(300);
                  console.log("onBatchBegin" + epoch + JSON.stringify(logs))
                },
                onBatchEnd: async (epoch, logs) => {
                  vm.status = "<b>iteration " + iteration + ":</b> finished batch " + batch_count + " of size " + logs.size
                  await this.delay(600);
                  console.log("onBatchEnd" + epoch + JSON.stringify(logs))
                }
              }
            })
            this.batch_progress = (iteration/this.iterations_length)*100
            console.log("done fitting " + this.batch_progress + " (" + iteration + "/" + this.iterations_length + ")*100")
            await this.delay(300);
            var start_index = Math.floor(Math.random() * (this.list_words.length - this.maxlen - 1))
            this.output_log += "examples:\n"
            var arr = [0.5]//[0.2, 0.5, 1.0, 1.2]
            for (let diversity of arr) {
              console.log('----- diversity:', diversity)
              var generated = ''
              var sentence = this.list_words.slice(start_index, start_index + this.maxlen + 1)
              generated += sentence.join(" ")
              console.log(generated)
              var str = ""
              for (var i = 0; i < 100; i++) {
                var x_pred = nj.zeros([1, this.maxlen, this.words.length])
                for (e3 of sentence.entries()) {
                  t = e3[0]
                  word = e3[1]
                  x_pred.set(0, t, this.word_indices[word], 1)
                }
                var x_pred2 = x_pred.tolist()
                var test = tf.tensor3d(x_pred2)
                const output = this.model.predict(test)//await model.predict(inputData)
                var output_data = await output.dataSync()
                var preds = Array.prototype.slice.call(output_data);
                var next_index = this.sample(preds, diversity)
                //console.log('next_index' + next_index + " :: " + this.indices_word[next_index])
                var next_word = this.indices_word[next_index]
                generated += " " + next_word
                sentence.shift()
                str += next_word + " "
                //console.log(str)
              }
              this.output_log += "diversity " + diversity + ": \n" + str + "\n"
              this.status_last_predicted_sentence = str
              textarea.scrollTop = textarea.scrollHeight;
            }
          }
          this.batch_progress = 100
          this.status = "( ◉◞౪◟◉) <i> done! </i>"
          this.finished_training = true
          console.log(
              'Done creating model. ' +
              'Now you can train the model or use it to generate text.');
        }/*,
        ok: async function() {
          console.log('corpus length:', this.text.length)
          words = this.text.split(" ")
          console.log("init " + words)
          words = words.filter(this.onlyUnique)
          console.log("unique" + words)
          words = words.sort()
          console.log("sorted" + words)

          console.log("total number of unique words" + words.length)

          word_indices = {}
          indices_word = {}
          for (let e0 of words.entries()) {
            idx = e0[0]
            word = e0[1]
            word_indices[word] = idx
            indices_word[idx] = word
          }
          console.log("WORD_INDICES" + JSON.stringify(word_indices))
          console.log("INDICES_WORD" + JSON.stringify(indices_word))

          console.log("word_indices length:" + word_indices.length)
          console.log("indices_words length" + indices_word.length)

          const maxlen = 30;
          const step = 3;
          const iterations_length = 2;
          console.log("maxlen: " + maxlen, "step: " + step)

          sentences = []
          sentences1 = []

          next_words = []
          list_words = this.text.toLowerCase().split(" ")

          for (var i = 0; i < (list_words.length - maxlen); i += step) {
            sentences2 = list_words.slice(i, i + maxlen + 1).join(" ") //TODO added + 1, mutually inclusive?
            sentences.push(sentences2)
            next_words.push(list_words[i + maxlen])
          }
          console.log('nb sequences(length of sentences):', sentences.length)
          console.log("length of next_word", next_words.length)

          console.log('Vectorization...')
          X = nj.zeros([sentences.length, maxlen, words.length])
          console.log('X shape' + X.shape)
          y = nj.zeros([sentences.length, words.length])
          console.log('y shape' + y.shape)
          for (e of sentences.entries()) {
            i = e[0]
            sentence = e[1]
            for (e2 of sentence.split(" ").entries()) {
              t = e2[0]
              word = e2[1]
              X.set(i, t, word_indices[word], 1)
            }
            y.set(i, word_indices[next_words[i]], 1)
          }
          console.log(JSON.stringify(X))
          console.log(JSON.stringify(y))

          console.log('Creating model... Please wait.');

          model = tf.sequential();
          model.add(tf.layers.lstm({
            units: 128,
            returnSequences: true,
            inputShape: [maxlen, words.length]
          }));
          model.add(tf.layers.dropout(0.2))
          model.add(tf.layers.lstm({
            units: 128,
            returnSequences: false
          }));
          model.add(tf.layers.dropout(0.2))
          model.add(tf.layers.dense({units: words.length, activation: 'softmax'}));

          model.compile({loss: 'categoricalCrossentropy', optimizer: 'sgd'});

          for (var iteration = 1; iteration < iterations_length; iteration++) {
            console.log('Iteration', iteration)
            await model.fit(tf.tensor3d(X.tolist()), tf.tensor2d(y.tolist()), {
              epochs: 2,
              batchSize: 128,
              callbacks: {
                onTrainBegin: async () => {
                  console.log("onTrainBegin")
                },
                onTrainEnd: async (epoch, logs) => {
                  console.log("onTrainEnd" + epoch + JSON.stringify(logs))
                },
                onEpochBegin: async (epoch, logs) => {
                  console.log("onEpochBegin" + epoch + JSON.stringify(logs))
                },
                onEpochEnd: async (epoch, logs) => {
                  console.log("onEpochEnd" + epoch + JSON.stringify(logs))
                },
                onBatchBegin: async (epoch, logs) => {
                  console.log("onBatchBegin" + epoch + JSON.stringify(logs))
                },
                onBatchEnd: async (epoch, logs) => {
                  console.log("onBatchEnd" + epoch + JSON.stringify(logs))
                }
              }
            })
            console.log("done fitting")
            start_index = Math.floor(Math.random() * (list_words.length - maxlen - 1))
            arr = [0.2, 0.5, 1.0, 1.2]
            for (let diversity of arr) {
              console.log('----- diversity:', diversity)
              generated = ''
              sentence = list_words.slice(start_index, start_index + maxlen + 1)
              generated += sentence.join(" ")
              console.log(generated)
              var str = ""
              for (var i = 0; i < 10; i++) {
                var x_pred = nj.zeros([1, maxlen, words.length])
                for (e3 of sentence.entries()) {
                  t = e3[0]
                  word = e3[1]
                  x_pred.set(0, t, word_indices[word], 1)
                }
                x_pred2 = x_pred.tolist()
                var test = tf.tensor3d(x_pred2)
                const output = model.predict(test)//await model.predict(inputData)
                var output_data = await output.dataSync()
                var preds = Array.prototype.slice.call(output_data);
                var next_index = this.sample(preds, diversity)
                console.log('next_index' + next_index + " :: " + indices_word[next_index])
                var next_word = indices_word[next_index]
                generated += next_word
                sentence.shift()
                str += next_word + " "
                console.log(str)
              }
            }
          }
          console.log(
              'Done creating model. ' +
              'Now you can train the model or use it to generate text.');
          }*/
      },
      watch: {
        start_learning: async function() {
          if (this.start_learning == true) {
            await this.delay(300);
            this.show_batch_progress = true
            //this.train_model()
          }
        },
        loading_train: function() {
          if (this.model == null) {
            setTimeout(() => (this.create_model()), 1000)
          }
        },
        text: async function() {
          this.front_page_shown = false
          await this.delay(300);
          this.main_page_shown = true
        }
      },
      mounted: function() {
        //this.ok()
      }
    })
  </script>
</body>
</html>
